.logo {
  height: 7rem;
  width: 7rem;
}

.user-img {
  height: 6rem;
  width: 6rem;
  border-radius: 100%;
}
.rank-icon {
  height: 5rem;
  width: 5rem;
}
.rank-img {
  height: 5rem;
  width: 5rem;
}
.top {
  margin-bottom: 5rem;
}
.left {
  display: flex;
  flex-direction: column;
  gap: 10rem;
}
.right {
  display: flex;
  flex-direction: column;
  gap: 10rem;
  align-items: center;
}
.left-right {
  display: flex;
  justify-content: space-between;
}
.tournament-img {
  height: 6rem;
  width: 6rem;
}
