.profile-top-bottom {
  display: flex;
  flex-direction: column;
  gap: 7rem;
  padding: 2rem;
}
.profile-left-right {
  display: flex;
  justify-content: space-between;
}
.profile-user-info {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 5rem;
}
.profile-img {
  align-self: center;
}

.language {
  display: grid;
  grid-template-rows: auto auto;
  grid-template-columns: auto auto auto;
  column-gap: 4rem;
  row-gap: 3rem;
}
.profile-lang-background {
  color: white;
  font-size: 1.8rem;
  text-transform: capitalize;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 7rem;
  height: 3.5rem;
  border-radius: 2rem;
}
.profile-edit {
  font-size: 2rem;
  padding: 1rem 1.5rem;
  width: 100%;
  color: white;
  background-color: #0f0c29;
  outline: 1px solid rgb(93, 107, 161);
  border: 1px solid rgb(93, 107, 161);
  border-radius: 0.5rem;
}
.rank-grid-container {
  display: grid;
  grid-template-rows: auto auto;
  grid-template-columns: auto auto;
  column-gap: 15rem;
  row-gap: 7rem;
}
.rank-p {
  color: white;
  font-size: 2rem;
  margin-bottom: 2.5rem;
}
.level-p {
  color: white;
  font-size: 2rem;
}
.profile-rank-img {
  width: 10rem;
  height: 10rem;
}
.profile-level-img {
  width: 5rem;
  height: 5rem;
}
.rank-txt,
.rank-txt-level {
  color: white;
  font-size: 2rem;
  padding: 1rem 1.5rem;
  border-radius: 20px;
  background-color: #5d6ba1;
  text-align: center;
  margin-top: 2rem;
}
.rank-txt-level {
  margin-top: 1rem;
}
.rank-align {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.profile-img img {
  width: 15rem;
  height: 15rem;
  border-radius: 50%;
  cursor: pointer;
  object-fit: cover;
}

.profile-img img:hover {
  transition: filter 0.3s ease;
  filter: brightness(70%);
}

.profile-account-box {
  cursor: pointer;
  color: white;
  border-radius: 1rem;
}
.profile-account-box:hover {
  transition: filter 0.3s ease;
  filter: brightness(70%);
}
