@property --rotate {
  syntax: "<angle>";
  initial-value: 132deg;
  inherits: false;
}

:root {
  --card-height: 300px;
  --card-width: calc(var(--card-height));
}

.card {
  background: none;
  width: var(--card-width);
  height: var(--card-height);
  padding: 3px;
  position: relative;
  border-radius: 1rem;
  justify-content: center;
  align-items: center;
  text-align: center;
  display: flex;
  min-width: var(--card-width);
}

.card:before {
  content: "";
  width: 98%;
  height: 98%;
  border-radius: 8px;
  background-image: linear-gradient( var(--rotate), #5ddcff, #3c67e3 43%, #4e00c2);
  position: absolute;
  animation: spin 2.5s linear infinite;
}

.card:after {
  position: absolute;
  content: "";
  top: calc(var(--card-height) / 6);
  height: 98%;
  width: 98%;
  margin: -20% auto;
  transform: scale(0.7);
  filter: blur(calc(var(--card-height) / 6));
  background-image: linear-gradient(
    var(--rotate)
    , #5ddcff, #3c67e3 43%, #4e00c2);
    opacity: 1;
  transition: opacity .5s;
  animation: spin 2.5s linear infinite;
}

@keyframes spin {
  0% {
    --rotate: 0deg;
  }
  100% {
    --rotate: 360deg;
  }
}