#GoogleAuth{
  display: flex;
  align-items: center;
  justify-content: center;
}

#GoogleAuth img{
  background-color: #ffffff;
  position: absolute;
  left: 0;
  height: 100%;
  border-radius: 25px;
}

#GoogleAuth Button{
  background-color: #4285F4;
  padding-left: 40px;
  border-radius: 25px;
}