.logo {
  height: 7rem;
  width: 7rem;
}

.rank-icon {
  height: 5rem;
  width: 5rem;
}
.rank-img {
  height: 5rem;
  width: 5rem;
}
.navbar-avatar {
}
.navbar-avatar:active {
  filter: brightness(80%);
  transition: filter 0.1s ease;
}
