.logo {
  height: 7rem;
  width: 7rem;
}

.rank-icon {
  height: 5rem;
  width: 5rem;
}
.rank-img {
  height: 5rem;
  width: 5rem;
}
.user-img {
  height: 6rem;
  width: 6rem;
  border-radius: 100%;
}
